.header2 {
    background-color: rgb(55, 105, 211);
    color: beige;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    box-shadow: 0px 3px 7px 5px gray;
    text-align: center;
    padding: 20px;
}

.header1 {
    background-color: lightskyblue;
    color: beige;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    box-shadow: 0px 3px 7px 5px gray;
    text-align: center;
    padding: 20px;
}

.paragraph {
    background-color: rgb(175, 17, 128);
    color: beige;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    box-shadow: 0px 3px 7px 5px gray;
    text-align: center;
    padding: 20px;
}